
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/
/*
  Modified from source code from 
  https://github.com/carolinebarriere/carolinebarriere.github.io/tree/master/SEG3125-Module1-Survey
*/
html {
  background-color: #9494b8;
}
 
body {
  background-color: #b3b3ff;
  width: 1200px;
  border: 2px #26004d;
  padding: 0px 20px 20px 20px;
  
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 7;
	padding: 20px 0;
	color: #ff3377;  /* Fuchsia */
	text-shadow: 3px 3px 1px white;
}



img {
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color:#804d00;
  font-size: 20px;
}

table {
	border: 1px solid black;
	background-color: #9494b8;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: #9494b8;
  color: #660022;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-style: bold;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 75%;
}